// Import Flat UI Pro
@import "flat-ui-pro";


// Fix for Datatables
#dataTable_wrapper {
    display: block;
}

// Fix for Summernote
.note-editor.note-frame {
    border: 2px solid rgba(0, 0, 0, .125);
}


// Background color to match the theme
body {
    padding-top: 4.5rem;
    overflow-x: hidden;
    background-color: #f8f9fa !important;
}

/*
* Sidebar
*/
#sidebar-wrapper {
    height: 100%;
    margin-left: -18rem;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
#sidebar-wrapper .list-group {
    width: 18rem;
    padding-left: 1rem;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    min-width: 100vw;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -18rem;
    }

}

// Sticky Sidebar
.sticky-offset {
    top: 4.5rem;
}
// .sticky-sidebar {
//     /* position: relative; */
//     top: 0;
//     height: calc(100vh - 48px);
// }

// @supports ((position: -webkit-sticky) or (position: sticky)) {
//     .sticky-sidebar {
//         position: -webkit-sticky;
//         position: sticky;
//     }
// }

// Remove rounded navbar
.navbar {
    border-radius: 0rem;
    margin-bottom: 1rem;
    padding: 0rem;
}
// Search box custom width
.navbar .input-group {
    width: 19rem !important;
}
// Reduced top padding
#dashboard {
    margin: 2px;
    // padding-right: 5px;
    text-transform: uppercase;
}

#logo {
    padding-right: 6.5rem;
}

.absolute-center {
    margin: auto;
    position: absolute;
    width: 100%; 
    height: 60%;
    top: 0; left: 0; bottom: 0; right: 0;
  }