// Loading Flat UI Pro
@import "flat-ui-pro";

// Background color to match the theme
body {
    overflow-x: hidden;
    background-color: #f8f9fa !important;
}

/*
* Sidebar
*/
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -18rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 18rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -18rem;
    }

}

// Sticky Sidebar
.sidebar-sticky {
    /* position: relative; */
    top: 0;
    height: calc(100vh - 48px);
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

// Fix for Datatables
#dataTable_wrapper {
    display: block;
}

// Fix for Summernote
.note-editor.note-frame {
    border: 2px solid rgba(0, 0, 0, .125);
}

// Remove rounded navbar
.navbar {
    border-radius: 0rem;
    margin-bottom: 1rem;
}

// Reduced top papping
#dashboard {
    margin: 0px;
    padding-top: 17px;
    text-transform: uppercase;
}